@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

@font-face {
  font-family: Travel;
  src: url('./fonts/Travel-Sans-Font.woff') format('woff'),
    url('./assets/fonts/Travel-Sans-Font.woff2') format('woff2');
}

:root {
  --dark-pink: rgb(202, 160, 164);
  --light-pink: rgb(234, 227, 227);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 10.5px;
  line-height: -0.1rem;
  font-weight: 400;
}

svg {
  color: var(--dark-pink);
}

.main-container {
  min-height: 100vh;
  display: flex;
}

/* ------ Left side ------ */

.left-container {
  width: 53.2%;
  background-color: var(--dark-pink)
}

.asset_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.asset_img img {
  width: 100%;
  height: 763px;
  max-width: 100%;
}

.bottom-left-left-container {
  color: var(--light-pink);
  position: absolute;
  bottom: 24px;
  left: 35px;
}

.bottom-left-left-container a {
  text-decoration: underline;
  color: var(--light-pink);
}

/* ------ Right side ------ */

.right-container {
  width: 65%;
  background-color: var(--light-pink);
  color: var(--dark-pink);
}

.top-left {
  align-self: flex-start;
  padding-top: 31px;
  padding-left: 33px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.03em;
}

.top-right {
  position: absolute;
  top: 31px;
  right: 39px;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.03em;
}

.bottom-left {
  position: absolute;
  bottom: 24px;
  padding-left: 33px;
}

.weather-icon {
  position: absolute;
  bottom: 16px;
  right: 35px;
}

/* ------ Searchbar ------*/

.column6 input,
.column1 input,
.column6 button,
.column1 button {
  outline: none;
  border: none;
  text-transform: uppercase;
}

.column6 input,
.column1 input {
  background-color: transparent;
  font-size: 9px;
  letter-spacing: 0.01em;
  color: var(--dark-pink);
}

.column6 input::placeholder,
.column1 input::placeholder {
  color: var(--dark-pink);
}

.column6 button,
.column1 button {
  background-color: transparent;
}

/* ------ Text columns ------ */

.subhead {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: -30px;
}

.h1,
.city-name {
  font-family: Travel;
  font-size: 22.5rem;
  font-weight: lighter;
  line-height: 18rem;
}

.row {
  padding-left: 90px;
  padding-right: 60px;
  padding-top: 100px;
  position: absolute;
}

.column2,
.column3,
.column4,
.column5,
.column6 {
  float: left;
  margin-top: 393px;
}

.column1 {
  float: left;
  width: 40%;
  padding-right: 60px;
  margin-top: 420px;
}

.column2 {
  width: 20%;
}

.column3 {
  width: 20%;
}

.column4 {
  width: 10%;
}

.column5 {
  width: 10%;
}

.column6 {
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 9px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.paragraph {
  font-size: 10.5px;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 0.01em;
}

.text {
  margin-top: 14px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}