@font-face {
  font-family: Travel;
  src: url('./fonts/Travel-Sans-Font.woff') format('woff'),
    url('./assets/fonts/Travel-Sans-Font.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-Regular.woff') format('woff'),
    url('./assets/fonts/Inter-Regular.woff2') format('woff2');
}

:root {
  --light-pink: rgb(234, 227, 227);
  --dark-pink: rgb(202, 160, 164);
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 10.5px;
  line-height: -0.1rem;
}

.main-container {
  border-bottom: 1.5px solid var(--dark-pink);
  display: flex;
  min-height: 100vh;
}

/* ------ Left side ------ */

.left-container {
  background-color: var(--dark-pink);
  width: 53.2%;
  height: 955px;
}

.asset_img img {
  filter: grayscale(100%);
  height: 955px;
  max-width: 100%;
  width: 100%;
}

.bottom-left-left-container {
  bottom: 24px;
  color: var(--light-pink);
  left: 35px;
  position: fixed;
}

.bottom-left-left-container a {
  color: var(--light-pink);
  text-decoration: underline;
}

/* ------ Right side ------ */

.right-container {
  width: 65%;
  background-color: var(--light-pink);
  color: var(--dark-pink);
  border-left: 1.5px solid var(--dark-pink);
}

.top-left {
  align-self: flex-start;
  line-height: 1.03em;
  padding-left: 33px;
  padding-top: 31px;
  text-align: left;
  text-transform: uppercase;
  position: fixed;
}

.top-right {
  line-height: 1.03em;
  text-align: right;
  text-transform: uppercase;
  padding-left: 689px;
  padding-top: 31px;
  position: fixed;
}

.bottom-left {
  padding-left: 33px;
  padding-top: 725px;
  position: fixed;
}

.icon {
  padding-left: 735px;
  padding-top: 721px;
  position: fixed;
}

/* ------ Text columns ------ */

.row {
  margin: 0px 50px 0px 100px;
  position: absolute;
}

.subhead {
  font-size: 44px;
  margin-top: 150px;
  text-transform: uppercase;
}

.h1 {
  font-family: Travel;
  font-size: 16.5rem;
  font-weight: lighter;
  line-height: 12.25rem;
  margin-bottom: 130px;
  margin-right: 60px;
}

.column1 {
  float: left;
  width: 33%;
  padding-right: 60px;
}

.column2 {
  width: 15%;
}

.column3 {
  width: 20%;
}

.column4 {
  width: 15%;
}

.column5 {
  width: 10%;
}

.column2,
.column3,
.column4,
.column5 {
  float: left;
}

.title {
  font-size: 9px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.paragraph {
  font-size: 10.5px;
  letter-spacing: 0.01em;
  line-height: 15px;
  text-transform: uppercase;
}

.text {
  letter-spacing: 0.01em;
  margin-top: 14px;
  text-transform: uppercase;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}